.ag {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px #ddd;
          box-shadow: 1px 1px 1px #ddd;
  color: #f0f;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1); }



.nav > li, .nav > li > a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .nav > li .active, .nav > li > a .active {
    background: #f0ad4e;
    color: #fff !important; }
    .nav > li .active:hover, .nav > li .active:focus, .nav > li > a .active:hover, .nav > li > a .active:focus {
      background: #f0ad4e !important;
      color: #fff !important; }

.navbar {
  margin-bottom: 0; }

.homeContainer {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 52px;
  bottom: 0;
  width: 320px;
  padding: 0;
  background: #dcc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .homeContainer .top {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: 48px;
    text-align: right;
    background-color: #30404f; }
    .homeContainer .top a {
      color: #fff; }
      .homeContainer .top a:hover {
        text-decoration: none; }
  .homeContainer .midd {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .homeContainer .bottom {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: 48px;
    background-color: #30404f; }

.tableContainer {
  padding: 8px 16px; }

.total-table {
  border-top: 1px solid #ddd;
  margin-top: 8px; }

body {
  background: #fff; }

.hideLeft {
  margin-left: -320px; }

.funBar {
  width: 64px;
  height: 64px;
  background: #ddd;
  border-bottom-right-radius: 100%; }

.leftShow {
  margin-left: 12px;
  line-height: 58px;
  font-size: 24px; }



/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */


